@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
	font-family: 'Poppins', sans-serif;
}
/*Sets attributes for the image used as background*/
body{
	background: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
}


/*Makes background image one size when scaled*/
html{
	height: 100%
}

/*Sets values for the h1 html tag*/
h1{
	font-weight: 700;
	font-size: 5em;
}

/*set "Nova" and text underneath on index to center*/
#content{
	text-align: center;
	padding-top: 26%;
	text-shadow: 0px 4px 3px black,
				 0px 4px 13px grey,
				 0px 12px 9px grey;
}


/*Sets values for the h1 html tag*/




/*Sets color for Nova and text underneath on index page*/
a{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}




/*Sets color for "Nova" and text underneath  on index page*/
#nova{
	color: white;
}

/*Sets style for the line under nova on index page*/
hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

/*Centers text in readMore.HTML*/
#textCenter{
	text-align: center;
}