/* HEADER */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: #343a40;

}

#logo {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 15px;
  color: white;
}

#user {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* -- BOARD -- */

board {
  position: fixed;
  top: 50px;
  /* left: 50px; */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
}

h1,
h4 {
  font-family: "Poppins", sans-serif;
}

header h1 {
  font-size: 3rem;
  margin: 4rem auto;
}

p {
  font-family: "Open Sans", sans-serif;
}

a,
a:link,
a:active,
a:visited {
  color: #0066aa;
  text-decoration: none;
  border-bottom: #000013 0.16rem solid;
}

a:hover {
  color: #000013;
  border-bottom: #0066aa 0.16rem solid;
}

.add-task-container {
  width: 10px;
  height: 10px;
  margin: auto;
  padding: 0.4rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px;
  width: 100%;
}

.column {
  width: 8.4rem;
  margin: 0 0.6rem;
  background: #a8a8a8;
  border: white  0.1rem solid;
  border-radius: 0.2rem;
  width: 100%;
  margin: 0 0.5rem;
  background: #e4e4e4;
  border-radius: 10px;
}

.column-header {
  padding: 0.1rem;
  border-bottom: white 0.1rem solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.column-header h4 {
  text-align: center;
}

.to-do-column .column-header {
  background: #ff872f;
}

.doing-column .column-header {
  background: #13a4d9;
}

.done-column .column-header {
  background: #15d072;
}

.trash-column .column-header {
  background: #ff4444;
}

.task-list {
  min-height: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

* {
  font-family: "Open Sans", sans-serif;
}
.button {
 
  font-weight: 700;
  color: yellow;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4444;
  margin: 0.1rem auto 0.6rem auto;
}

.delete-button:hover {
  background-color: #fa7070;
}

.add-button {
  background-color: #ffcb1e;
  padding: 0 1rem;
  height: 1.8rem;
  width: 10rem;
  margin-top: 0.6rem;
}

.add-button:hover {
  background-color: #ffdd6e;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.4rem;
  height: 4rem;
  border: grey 0.1rem solid;
  border-radius: 0.2rem;
  cursor: move;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

#taskText {
  background: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  height: 2rem;
  width: 7rem;
  margin: auto 0.8rem auto 0.1rem;
}

.task p {
  margin: auto;
}

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}