/* HEADER */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: #343a40;

}

#logo {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 15px;
  color: white;
}

#user {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  color: white;
}

/* -- BOARD -- */

board {
  position: fixed;
  top: 50px;
  /* left: 50px; */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
}

h1,
h4 {
  font-family: "Poppins", sans-serif;
}

header h1 {
  font-size: 3rem;
  margin: 4rem auto;
}

p {
  font-family: "Poppins", sans-serif;
}

a,
a:link,
a:active,
a:visited {
  color: #0066aa;
  text-decoration: none;
  border-bottom: #000013 0.16rem solid;
}

a:hover {
  color: #000013;
  border-bottom: #0066aa 0.16rem solid;
}

.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0px;
  position: absolute;
  left: 19.25%;
  top: 12px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1rem;
  width: 100%;
}

.column {
  width: 100%;
  margin: 0 0.6rem;
  background: #a8a8a8;
  border: white  0.1rem solid;
  border-radius: 0.2rem;
  margin: 1rem;
  background: #e4e4e4;
  border-radius: 10px;
}

.trash-column {
  width: 30%;
}

.column-header {
  padding: 0.1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.column-header h4 {
  text-align: center;
  position: relative;
  top: -8px;
}

.to-do-column .column-header {
  background: #ff872f;
}

.doing-column .column-header {
  background: #13a4d9;
}

.done-column .column-header {
  background: #15d072;
}

.trash-column .column-header {
  background: #ff4444;
}

.task-list {
  min-height: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

* {
  font-family: "Open Sans", sans-serif;
}
.button {
  font-weight: 700;
  color: yellow;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.delete-button {
  background-color: #fd4141;
  color: #fff;
  margin: 0.1rem auto 0.6rem auto;
  outline: none; 
}

.delete-button:hover {
  background-color: #fa7070;
}

.add-button {
  z-index: 1;
  right: 10px;
  top: 10px;
  display:block;
  width:30px;
  height:30px;
  line-height:25px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  background: #4A9FF9;
  text-align:center;
  box-shadow: 0 0 3px rgba(92, 92, 92, 0.2);
  font-size:20px;
  cursor: pointer;
  outline: none; 
}

.add-button:hover {
  background: darkcyan ;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.5rem;
  min-height: 2rem;
  height: auto;
  cursor: move;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

#taskText {
  background: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  height: 1.5rem;
  width: 6rem;
  margin: auto 0.8rem auto 0.1rem;
  background: #a8a8a8;
  border: white  0.1rem solid;
  border-radius: 0.2rem;
  background: #e4e4e4;
  border-radius: 10px;
}

.task p {
  margin: auto;
}

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* IDEA WINDOW */

#idea-board-btn {
  position: absolute;
  font-size: 0.8rem;
  text-align: center;
  background:  #e4e4e4;
  color: #6b6868;
  width: 80px;
  left: 10%;
  line-height: 20px;
  top: 12px;
  font-size: 0.8rem;
  height: 1.85rem;
  width: 6rem;
  margin: auto 0.8rem auto 0.1rem;
  border: white  0.1rem solid;
  border-radius: 0.2rem;
  border-radius: 10px;  
  outline: none; 
}

#idea-window {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow: auto;
  background-image: url("https://images.pexels.com/photos/159770/black-board-chalk-traces-school-159770.jpeg");
  background-size: cover;
  background-position: center;
}

#new-idea-btn {
  position: absolute;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  top: 20px;
  outline: none; 
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text)
}

.idea-container {
  overflow: auto;
}

.idea-content {
  float: left;
  position: absolute;
  overflow: auto;
  min-height: 30px;
  min-width: 150px;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  margin-left: -75px;
  top: 60px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0 rgba(92, 92, 92, 0.2);
}

#idea-edit-btn {
  position: absolute;
  right: 5px;
  height: 10px;
  width: 10px;
}

/* */
